lhtml {
	overflow-y: scroll;
}

body {
	font-size: 12px;
	margin: 0px;
}

.izinKarti {
	width: 100%;
}

.izinKarti table {
	border-collapse: collapse;
}

.izinKarti table td {
	border: 1px solid gray;
}

.izinKarti table tr:first-child td {
	border-top: 0;
}

.izinKarti table tr:last-child td {
	border-bottom: 0;
}

.izinKarti table tr td:first-child {
	border-left: 0;
}

.izinKarti table tr td:last-child {
	border-right: 0;
}

.headerTile {
	background-image: url(/img/header_tile.gif);
	background-repeat: repeat-x;
	width: 100%;
	height: 83px;
}

a img {
	border: none;
}

h1 {
	font-size: 1.6em;
	margin-top: 0;
}

input[type='submit'],input[type='button'] {
	background: #06226D;
	color: white;
	margin: 5px;
	border-color: gray;
}

input[type=submit],input[type=button] {
	font-size: 12px;
	margin: 5px 5px 5px 0;
	cursor: pointer;
}

input[type=text],input[type=password],textarea {
	font-size: 11px;
	padding-left: 1px;
}

.tableControl,.actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
}

.rich-table {
	width: 100%;
}

.body {
	padding: 1px;
}

.columnHeader:hover {
	color: #FF6600;
}

.message {
	padding: 5px;
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
	font-size: large;
}

.message li.infomsg {
	background-image: url(/img/msginfo.png);
	color: blue;
}

.message li.errormsg {
	background-image: url(/img/msgerror.png);
	color: red;
}

.message li.warnmsg {
	background-image: url(/img/msgwarn.png);
	color: black;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 125px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.textRight {
	text-align: right;
}

.btnClass1 {
	border: solid 1px #c0c0c0;
	background-image: url("btn1.gif");
	background-repeat: repeat-x;
}

.btnClass2 {
	border: solid 1px #c0c0c0;
	background-image: url("btn2.gif");
	background-repeat: repeat-x;
}

.btnClass3 {
	border: solid 11px #c0c0c0;
	background-image: url("btn3.gif");
	background-repeat: repeat-x;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: red;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input,.errors textarea {
	border: 1px solid red !important;
}

.required {
	color: red;
	padding-left: 2px;
}

.rich-stglpanel-body {
	overflow: auto;
}

/* the specificity here is necessary to override the defaults */
.rich-panel .rich-panel-header,.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}

select {
	font-size: 12px;
	width: 182px;
}

.rich-panel input[type=submit],.rich-panel input[type=button],.rich-tabpanel input[type=submit],.rich-tabpanel input[type=button]
	{
	margin-bottom: 0;
}

.tableControl input[type=submit],.tableControl input[type=button],.tableControl select
	{
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}

div.info {
	font-size: 1.2em;
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

.vardiyaGun {
	text-align: center;
	width: 99%;
	overflow: auto;
}

.odd {
	background-color: #DBF8DB;
}

.even {
	background-color: #D5E4FB;
}

table.mars {
	width: 100%;
	margin: 0;
	padding: 0px;
	font-size: 1em;
	background-repeat: no-repeat;
	list-style-type: none;
}

.table.mars td {
	padding: 3px 4px 3px 4px;
}

table.mars thead tr {
	background-color: #9c9;
}

table.mars tr.even {
	background: #D5E4FB;
}

table.mars tr.hata {
	background: red;
}

table.mars tr.odd {
	background: #DBE7F5;
}

table.mars tr.selected {
	color: white;
	background-color: #00ff00;
}

table.mars tr.araToplam {
	background-color: #ffff00;
}

table.mars tr.hata {
	background: #CC0033;
}

table.mars tr.true {
	background-color: #DBF8DB;
}

table.mars tr.false {
	background-color: #D5E4FB;
}

table.mars th {
	background: #9CC0DF;
	color: #ffffff;
	font-weight: bold;
}

table.mars th.sorted,th.sortable {
	background-color: orange;
}

table.mars th a,th a:visited {
	color: black;
}

table.mars th a:hover {
	text-decoration: underline;
	color: black;
}

table.mars th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

.true {
	background-color: #DBF8DB;
	white-space: nowrap;
	width: autostretch;
}

.false {
	background-color: #D5E4FB;
	white-space: nowrap;
	width: autostretch;
}

.hata {
	background: #D10916;
	color: #FDFDFD;
}

.warn {
	background: #F9E88D;
	color: black;
}

.sari {
	background: yellow;
	color: #FDFDFD;
}

.off {
	background: #696969;
	color: #FDFDFD;
	white-space: nowrap;
	width: autostretch;
	font-size: 10px;
}

.digerAy {
	background: #f3f3f3;
	color: black;
	white-space: nowrap;
	width: autostretch;
	font-size: 10px;
}

.calismaVar {
	width: 10px;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.icap {
	background: #ff9966;
	color: white;
	white-space: nowrap;
	width: autostretch;
	font-size: 10px;
}

.haftaTatil {
	background: #33cc00;
	color: #FDFDFD;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.izin {
	background: #FF69B4;
	color: white;
	font-size: 10px;
	width: 20px;
}

.haftaBaslik {
	background: #E7E2E2;
	color: #A31916;
	width: autostretch;
	font-size: 10px;
}

.arife {
	background: #90B93F;
	color: #F3D326;
	width: autostretch;
	font-size: 10px;
}

.toplam {
	background: #FFBF18;
	color: #D10916;
}

.bayram {
	background: #5C7F2D;
	color: #F3D326;
	width: autostretch;
	font-size: 10px;
}

.tatil {
	background: #990066;
	color: #FFFFCC;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.calismaAylik {
	background: white;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.calismaAylikEven {
	background: #efe9e1;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.tatilAylik {
	background: #FF99CC;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.izinAylik {
	background: #92D050;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.ozelIstekAylik {
	background: yellow;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.ozelIstekEgitim {
	background: blue;
	color: white;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.help {
	background: #3af4db;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.size8 {
	font-size: 8px;
	margin: 0px;
}

.size10 {
	font-size: 10px;
	margin: 0px;
}

.acik {
	background: #ECF4FE;
}

.koyu {
	background: #D5E4FB;
}

.ui-growl {
	top: 30px !important;
}

.ui-growl-item {
	font-size: 95% !important;
}

.rich-toolbar {
	border: 0px;
}

.rich-ddmenu-label:HOVER {
	border: 1px solid white;
	background-color: #00A7EB;
	color: white;
}

.rich-menu-item:HOVER {
	border: 1px solid white;
	background-color: #00A7EB;
	color: white;
}

.rich-menu-group:HOVER {
	border: 1px solid white;
	background-color: #00A7EB;
	color: white !important;
}

.rich-menu-group-hover {
	border: 1px solid white;
	background-color: #00A7EB;
	color: white !important;
}

.rich-menu-group-label:HOVER {
	color: white !important;
}

.rich-menu-item-label:HOVER {
	background-color: #00A7EB;
	color: white;
}

.rich-pmenu-group {
	font-size: 12px;
}

.rich-pmenu-item {
	font-size: 12px;
}

input[type='submit'],input[type='button'] {
	border: 1px blue;
	background: #B2CDE5;
	color: black;
	padding: 4px 8px 4px 8px;
	border: 1px solid;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	font-size: 14px;
	font-weight: bold;
}

input[type='submit'],input[type='button']:hover {
	background: #ECF4FE;
}

input[type=text]:focus,input[type=password]:focus {
	background-image: none;
	background-color: white;
}

input[type=text],input[type=password] {
	font-size: 12px;
	font-family: sans-serif;
	background-image: url(/img/input-background.jpg);
	border: 1px solid grey;
	width: 182px;
}

.rich-spinner-input {
	font-weight: bold;
	width: 30px !important;
}

.rich-shuttle-source-cell {
	font-weight: bold;
}

.rich-shuttle-target-cell {
	font-weight: bold;
}

.rich-calendar-input {
	font-weight: bold;
	width: 75px !important;
}

.rich-tool-tip {
	background-color: #ECF4FE !important;
	border-color: #2476BB !important;
}

select {
	font-weight: bold;
}

.headerWrap {
	white-space: normal !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-size: 10px !important;
}

.columnWrap {
	white-space: normal !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-size: 9px !important;
}

.scroolTable {
	width: 99%;
	overflow: auto;
}

.scroolTableNo {
	width: 99%;
	overflow: auto;
}

div#tbl-container,div#tbl-container1,div#tbl-container2,div#tbl-container3,div#tbl-container4,div#tbl-container5,div#tbl-container6,div#tbl-container7,div#tbl-container8,div#tbl-container9,div#tbl-container10,div#tbl-container11,div#tbl-container12,div#tbl-container13,div#tbl-container14,div#tbl-container15,div#tbl-container16
	{
	
}

div#tbl-container table th,div#tbl-container1 table th,div#tbl-container2 table th,div#tbl-container3 table th,div#tbl-container4 table th,div#tbl-container5 table th,div#tbl-container6 table th,div#tbl-container7 table th,div#tbl-container8 table th,div#tbl-container9 table th,div#tbl-container10 table th,div#tbl-container11 table th,div#tbl-container12 table th,div#tbl-container13 table th,div#tbl-container14 table th,div#tbl-container15 table th,div#tbl-container16 table th
	{
	padding: 6px 4px 3px 4px;
}

div#tbl-container thead th,div#tbl-container1 thead th,div#tbl-container2 thead th,div#tbl-container3 thead th,div#tbl-container4 thead th,div#tbl-container5 thead th,div#tbl-container6 thead th,div#tbl-container7 thead th,div#tbl-container8 thead th,div#tbl-container9 thead th,div#tbl-container10 thead th,div#tbl-container11 thead th,div#tbl-container12 thead th,div#tbl-container13 thead th,div#tbl-container14 thead th,div#tbl-container15 thead th,div#tbl-container16 thead th
	{
	position: relative;
	cursor: default;
	z-index: 20;
}

div#tbl-container thead th {
	top: expression(document.getElementById (                 "tbl-container").scrollTop-6
		);
	/* IE5+ only */
}

div#tbl-container1 thead th {
	top: expression(document.getElementById (                 "tbl-container1").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container2 thead th {
	top: expression(document.getElementById (                 "tbl-container2").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container3 thead th {
	top: expression(document.getElementById (                 "tbl-container3").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container4 thead th {
	top: expression(document.getElementById (                 "tbl-container4").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container5 thead th {
	top: expression(document.getElementById (                 "tbl-container5").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container6 thead th {
	top: expression(document.getElementById (                 "tbl-container6").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container7 thead th {
	top: expression(document.getElementById (                 "tbl-container7").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container8 thead th {
	top: expression(document.getElementById (                 "tbl-container8").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container9 thead th {
	top: expression(document.getElementById (                 "tbl-container9").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container10 thead th {
	top: expression(document.getElementById (                 "tbl-container10").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container11 thead th {
	top: expression(document.getElementById (                 "tbl-container11").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container12 thead th {
	top: expression(document.getElementById (                 "tbl-container12").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container13 thead th {
	top: expression(document.getElementById (                 "tbl-container13").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container14 thead th {
	top: expression(document.getElementById (                 "tbl-container14").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container15 thead th {
	top: expression(document.getElementById (                 "tbl-container15").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container16 thead th {
	top: expression(document.getElementById (                 "tbl-container16").scrollTop-6
		); /* IE5+ only */
}

div#tbl-container thead th.locked,div#tbl-container1 thead th.locked,div#tbl-container2 thead th.locked,div#tbl-container3 thead th.locked,div#tbl-container4 thead th.locked,div#tbl-container5 thead th.locked,div#tbl-container6 thead th.locked,div#tbl-container7 thead th.locked,div#tbl-container8 thead th.locked,div#tbl-container9 thead th.locked,div#tbl-container10 thead th.locked,div#tbl-container11 thead th.locked,div#tbl-container12 thead th.locked,div#tbl-container12 thead th.locked,div#tbl-container13 thead th.locked,div#tbl-container14 thead th.locked,div#tbl-container15 thead th.locked,div#tbl-container16 thead th.locked
	{
	position: relative;
	cursor: default;
	background: #efd101;
	background: #99D4FF;
	color: #000000;
	font-weight: bold;
	font-family: Verdana, Arial, Serif;
	font-size: 11px;
}

div#tbl-container thead th.locked,div#tbl-container1 thead th.locked,div#tbl-container2 thead th.locked,div#tbl-container3 thead th.locked,div#tbl-container4 thead th.locked,div#tbl-container5 thead th.locked,div#tbl-container6 thead th.locked,div#tbl-container7 thead th.locked,div#tbl-container8 thead th.locked,div#tbl-container9 thead th.locked,div#tbl-container10 thead th.locked,div#tbl-container11 thead th.locked,div#tbl-container12 thead th.locked,div#tbl-container13 thead th.locked,div#tbl-container14 thead th.locked,div#tbl-container15 thead th.locked,div#tbl-container16 thead th.locked
	{
	z-index: 40;
}

div#tbl-container td.locked,div#tbl-container th.locked,div#tbl-container1 td.locked,div#tbl-container1 th.locked,div#tbl-container2 td.locked,div#tbl-container2 th.locked,div#tbl-container3 td.locked,div#tbl-container3 th.locked,div#tbl-container4 td.locked,div#tbl-container4 th.locked,div#tbl-container5 td.locked,div#tbl-container5 th.locked,div#tbl-container6 td.locked,div#tbl-container6 th.locked,div#tbl-container7 td.locked,div#tbl-container7 th.locked,div#tbl-container8 td.locked,div#tbl-container8 th.locked,div#tbl-container9 td.locked,div#tbl-container9 th.locked,div#tbl-container10 td.locked,div#tbl-container10 th.locked,div#tbl-container11 td.locked,div#tbl-container11 th.locked,div#tbl-container12 td.locked,div#tbl-container12 th.locked,div#tbl-container13 td.locked,div#tbl-container13 th.locked,div#tbl-container14 td.locked,div#tbl-container14 th.locked,div#tbl-container15 td.locked,div#tbl-container15 th.locked,div#tbl-container16 td.locked,div#tbl-container16 th.locked
	{
	position: relative;
	z-index: 10;
	background: #ffec80;
}

div#tbl-container th {
	margin: 0;
	padding: 0;
	font-size: 1em;
	list-style-type: none;
	font-weight: bold;
	font-family: Verdana, Arial, Serif;
	font-size: 11px;
}

div#tbl-container td.locked,div#tbl-container th.locked {
	left: expression(document.getElementById (                 "tbl-container").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container1 td.locked,div#tbl-container1 th.locked {
	left: expression(document.getElementById (                 "tbl-container1").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container2 td.locked,div#tbl-container2 th.locked {
	left: expression(document.getElementById (                 "tbl-container2").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container3 td.locked,div#tbl-container3 th.locked {
	left: expression(document.getElementById (                 "tbl-container3").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container4 td.locked,div#tbl-container4 th.locked {
	left: expression(document.getElementById (                 "tbl-container4").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container5 td.locked,div#tbl-container5 th.locked {
	left: expression(document.getElementById (                 "tbl-container5").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container6 td.locked,div#tbl-container6 th.locked {
	left: expression(document.getElementById (                 "tbl-container6").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container7 td.locked,div#tbl-container7 th.locked {
	left: expression(document.getElementById (                 "tbl-container7").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container8 td.locked,div#tbl-container8 th.locked {
	left: expression(document.getElementById (                 "tbl-container8").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container9 td.locked,div#tbl-container9 th.locked {
	left: expression(document.getElementById (                 "tbl-container9").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container10 td.locked,div#tbl-container10 th.locked {
	left: expression(document.getElementById (                 "tbl-container10").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container11 td.locked,div#tbl-container11 th.locked {
	left: expression(document.getElementById (                 "tbl-container11").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container12 td.locked,div#tbl-container12 th.locked {
	left: expression(document.getElementById (                 "tbl-container12").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container13 td.locked,div#tbl-container13 th.locked {
	left: expression(document.getElementById (                 "tbl-container13").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container14 td.locked,div#tbl-container14 th.locked {
	left: expression(document.getElementById (                 "tbl-container14").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container15 td.locked,div#tbl-container15 th.locked {
	left: expression(document.getElementById (                 "tbl-container15").scrollLeft-2
		); /* IE5+ only */
}

div#tbl-container16 td.locked,div#tbl-container16 th.locked {
	left: expression(document.getElementById (                 "tbl-container16").scrollLeft-2
		); /* IE5+ only */
}

sari {
	background: yellow;
	color: #FDFDFD;
}

.off {
	background: #696969;
	color: #FDFDFD;
	white-space: nowrap;
	width: autostretch;
	font-size: 10px;
}

.calismaVar {
	width: 10px;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.icap {
	background: #ff9966;
	color: white;
	white-space: nowrap;
	width: autostretch;
	font-size: 10px;
}

.izin {
	background: #FF69B4;
	color: white;
	font-size: 10px;
	width: 20px;
}

.haftaBaslik {
	background: #E7E2E2;
	color: #A31916;
	width: autostretch;
	font-size: 10px;
}

.calismaGun {
	background-color: #9c9;
	color: black;
	width: autostretch;
	font-size: 10px;
}

.toplam {
	background: #FFBF18;
	color: #D10916;
}

.calismaAylik {
	background: white;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}

.calismaAylikEven {
	background: #efe9e1;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	width: autostretch;
}