<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "dtd/spring-beans.dtd">
<beans>
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<bean id="PDKS_DS" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/pdks</value>
		</property>
	</bean>


	<!-- Transaction manager -->
	<bean id="transactionManagerPDKS" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="PDKSSessionFactory" />
		</property>
	</bean>
	<!-- Transaction Interceptor For Manager Classes -->
	<bean id="managerTransactionInterceptorPDKS" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="transactionManagerPDKS" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="call*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_SUPPORTS,readOnly</prop>
			</props>
		</property>
	</bean>


	<bean id="PDKSSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref local="PDKS_DS" />
		</property>
		<property name="mappingResources">
			<list>
			</list>
		</property>
		<property name="annotatedClasses">
			<list>

				<value>org.pdks.entity.CalismaModeli</value>
				<value>org.pdks.entity.CalismaModeliAy</value>
				<value>org.pdks.entity.CalismaModeliGun</value>
				<value>org.pdks.entity.DenklestirmeAy</value>
				<value>org.pdks.entity.Departman</value>
				<value>org.pdks.entity.IzinReferansERP</value>
				<value>org.pdks.entity.IzinTipi</value>
				<value>org.pdks.entity.MailGrubu</value>
				<value>org.pdks.entity.Parameter</value>
				<value>org.pdks.entity.PdksPersonelView</value>
				<value>org.pdks.entity.Kapi</value>
				<value>org.pdks.entity.KapiSirket</value>
				<value>org.pdks.entity.KapiKGS</value>
				<value>org.pdks.entity.Personel</value>
				<value>org.pdks.entity.PersonelDenklestirme</value>
				<value>org.pdks.entity.PersonelMesai</value>
				<value>org.pdks.entity.PersonelIzin</value>
				<value>org.pdks.entity.PersonelIzinDetay</value>
				<value>org.pdks.entity.ERPPersonel</value>
				<value>org.pdks.entity.PersonelKGS</value>
				<value>org.pdks.entity.PersonelView</value>
				<value>org.pdks.entity.Sirket</value>
				<value>org.pdks.entity.ServiceData</value>
				<value>org.pdks.entity.Tanim</value>
				<value>org.pdks.entity.Tatil</value>
				<value>org.pdks.entity.Vardiya</value>
				<value>org.pdks.entity.VardiyaGun</value>
				<value>org.pdks.entity.VardiyaSablonu</value>
				<value>org.pdks.entity.HataliPersonel</value>
				<value>org.pdks.entity.PersonelDinamikAlan</value>
				<value>org.pdks.security.entity.Role</value>
				<value>org.pdks.security.entity.User</value>
				<value>org.pdks.security.entity.UserDigerOrganizasyon</value>
				<value>org.pdks.security.entity.UserRoles</value>
				<value>org.pdks.erp.entity.PersonelERPDB</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
				<prop key="hibernate.max_fetch_depth">2</prop>
				<prop key="hibernate.default_batch_fetch_size">16</prop>
				<prop key="hibernate.jdbc.batch_size">25</prop>
				<prop key="hibernate.jdbc.fetch_size">32</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>

	</bean>

</beans>