<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<bean id="myInInterceptor" class="com.pdks.webService.WSLoggingInInterceptor"/>
	<bean id="myOutInterceptor" class="com.pdks.webService.WSLoggingOutInterceptor"/>
	<jaxws:endpoint xmlns:tns="http://webService.pdks.com/" id="pdkssoapveriaktar" implementor="com.pdks.webService.PdksSoapVeriAktar"
		wsdlLocation="wsdl/pdksSoapVeriAktar.wsdl" endpointName="tns:PdksSoapVeriAktarPort" serviceName="tns:PdksSoapVeriAktarService" address="/PdksSoapVeriAktarPort">
		<jaxws:inInterceptors>
			<bean class="com.pdks.webService.WSLoggingInInterceptor" />
			<ref bean="myInInterceptor" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<bean class="com.pdks.webService.WSLoggingOutInterceptor" />
			<ref bean="myOutInterceptor" />
		</jaxws:outInterceptors>
	</jaxws:endpoint>
</beans>
