<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.hbm2ddl.auto" value="update" />
		<property name="hibernate.show_sql" value="false" />
		<property name="hibernate.format_sql" value="true" />
		<property name="hibernate.max_fetch_depth" value="2" />
		<property name="hibernate.jdbc.batch_size" value="0" />
		<property name="hibernate.transaction.manager_lookup_class" value="org.hibernate.transaction.SunONETransactionManagerLookup" />
		<property name="hibernate.connection.characterEncoding" value="UTF-8" />
		<property name="dialect" value="org.hibernate.dialect.SQLServerDialect"/>
	</session-factory>
</hibernate-configuration>