<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://jboss.com/products/seam/taglib" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	<h:form enctype="multipart/form-data">

		<rich:panel>
			<f:facet name="header">Upload Attachment</f:facet>

			<s:decorate id="fileUploadDecoration" template="/layout/edit.xhtml">
				<ui:define name="label">Attachment</ui:define>
				<s:fileUpload id="file" data="#{attachmentHome.dosya.dosyaIcerik}" contentType="#{attachmentHome.dosya.icerikTipi}"
					fileName="#{attachmentHome.dosya.dosyaAdi}" fileSize="#{attachmentHome.dosya.size}" />
			</s:decorate>

			<s:decorate id="nameDecoration" template="/layout/edit.xhtml">
				<ui:define name="label">Name</ui:define>
				<h:outputText value="#{attachmentHome.dosya.dosyaAdi}" />
			</s:decorate>

			<s:decorate id="contentTypeDecoration" template="/layout/edit.xhtml">
				<ui:define name="label">Content Type</ui:define>
				<h:outputText value="#{attachmentHome.dosya.icerikTipi}" />
			</s:decorate>

			<s:decorate id="sizeDecoration" template="/layout/edit.xhtml">
				<ui:define name="label">Size</ui:define>
				<h:outputText value="#{attachmentHome.dosya.size}" />
			</s:decorate>

			<div style="clear: both" />
		</rich:panel>

		 

	</h:form>
</ui:composition>
